body {
  margin: 0;
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  width: min(600px, calc(min(100vw, 100vh) - 40px));
  height: min(600px, calc(min(100vh, 100vw) - 40px));
  outline: 0;
  border: 0;
}
